.form {
  padding: 50px;
}
.form-control {
  padding: 20px;
  border-radius: 6px;
  margin: 30px 40px;
}
.btn {
  border-radius: 6px;
  padding: 15px;
  background: linear-gradient(
    to right,
    rgba(103, 34, 128, 1),
    rgba(166, 38, 211, 1)
  );
  border: none;
}
